@charset "UTF-8";

:root{
    --cor1: #00ad6a;
    --cor2: #1fe374;
    --cor3: #eafaf1;
    --cor4: #080c16;
    --cor5: #d6dae5;
    --cor6: #fcfcfc;
    --cor7: rgba(0, 0, 0, 0.705);
}

@media screen and (min-width: 1060px) {
    header{
        background-color: var(--cor3);
        box-shadow: none;
    }

    header > img{
        flex-basis: 150px;
        padding-left: 40px;
    }

    header > nav{
        display: flex;
        margin-right: 30px;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-content: center;
        transform: translateY(8px);
    }

    header > svg#barramenu{
        display: none;
    }

    div#inicio{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    div#inicio > h1{
        font-size: 3.5em;
        flex-basis: 100vw;
        text-align: center;
    }

    div#inicio > p{
        flex-basis: 600px;
        text-align: center;
        padding-top: 0px;
        margin-top: 0px;
    }

    main{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

      main > article#basic{
        max-width: 300px;
        margin-left: 20px;
    }

    main > article#basic > p{
        padding-left: 20px;
    }

    main > article#business, article#extra{
        margin-right: 0px;
        height: 700px;
        flex-basis: 500px;
        display: flex;
        flex-flow: column nowrap;
    }

    main > article div > h2{
        font-size: 3em;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
    }

    main > article div > h3{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }

    main > article#business > p,
    main > article#extra > p{
        order: 1;
        text-align: center;
    }

    main > article#business > ul,
    main > article#extra > ul{
        order: 2;
    }

    main > article#business > ul > li,
    main > article#extra > ul > li{
        padding-bottom: 20px;
    }

    main > article#business > div.botao,
    main > article#extra > div.botao{
        order: 0;
        margin: 0 70px;
    }

    main > article#business > div.botao:hover > a,
    main > article#extra > div.botao:hover > a{
        font-size: 1.4em;
    }

    main > article#extra{
        margin-left: 0px;
        height: 600px;
    }

    div#depoimento > p{
        max-width: 800px;
    }

    div#faq{
        flex-flow: row wrap;
        justify-content: center;
    }

    div#faq > h1{
        flex-basis: 100vw;
    }

    div#faq > article{
        flex-basis: 400px;
    }

    footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 400px;
    }

    footer > div > img{
        width: 200px;
        padding-left: 0px;
    }

    footer > div > div.botao{
        margin-top: -50px;
        padding: 0 30px;
    }

    footer > div.nav{
        flex-basis: 500px;
        padding-top: 120px;
        padding-right: 30px;
    }

    footer > p{
        align-self: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    main > article#business, article#extra{
        flex-basis: 400px;
    }

    footer > div.nav{
        flex-basis: 700px;
    }
    
}