@charset "UTF-8";

/* Site: https://pulseapp.com/pricing */

:root{
    --cor1: #00ad6a;
    --cor2: #1fe374;
    --cor3: #eafaf1;
    --cor4: #080c16;
    --cor5: #d6dae5;
    --cor5: #fcfcfc;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor3);
}

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    background-color: var(--cor5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.138);
    height: 150px;
    color: var(--cor1);
}

header > h1{
    font-size: 2.8em;
    padding-left: 20px;
}

header > nav{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    transform: translateY(-5%);
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin: 20px;
}

header > nav > a#sign-up{
    border: 2px solid var(--cor1);
    padding: 6px 15px;
    box-sizing: border-box;
    margin: 14px 20px 14px 20px;
}

header > nav > a:hover{
    color: var(--cor4);
}

div#inicio > h1{
    margin: 20px;
    font-size: 3em;
}

div#inicio > p{
    margin: 20px;
    padding-top: 25px;
    font-size: 1.1em;
    line-height: 1.7em;
}

main > article#basic > h3{
    color: var(--cor1);
    font-size: 1.3em;
    margin: 20px;
    padding-left: 10px;
}

main > article#basic > ul > li{
    margin: 5px 20px 5px 63px;
    color: rgba(0, 0, 0, 0.736);
}

main > article#basic > p{
    margin: 20px;
    color: rgba(0, 0, 0, 0.736);
    line-height: 1.5em;
}

main > article#basic > p > span.basic{
    text-decoration: underline;
}

main > article#business{
    background-color: var(--cor5);
    margin: 20px;
    border: 1px solid var(--cor1);
    border-radius: 8px;
    overflow: hidden;
}

main > article#business > p#recommended{
    height: 30px;
    background-color: var(--cor1);
    color: var(--cor5);
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

main > article#business div > h2{
    color: var(--cor1);
    margin: 10px 10px 0px 15px;
    font-size: 2.2em;
}

main > article#business div > h3{
    padding: 0px 0px 20px 20px;
    color: grey;
    font-weight: normal;
    font-size: 1.5em;
}

main > article#business > p{
    
}

main > article#business > ul{
    list-style-position: inside;
    list-style-type: circle;
}