@charset "UTF-8";

/* Site: https://pulseapp.com/pricing */

:root{
    --cor1: #00ad6a;
    --cor2: #1fe374;
    --cor3: #eafaf1;
    --cor4: #080c16;
    --cor5: #d6dae5;
    --cor6: #fcfcfc;
    --cor7: rgba(0, 0, 0, 0.705);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor3);
}

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    background-color: var(--cor6);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.133);
    height: 150px;
    color: var(--cor1);
}

header > img{
    width: 100px;
    padding-left: 15px;
}

header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    transform: translateY(-5%);
    margin-right: 30px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin: 8px 20px;
}

header > nav > a#sign-up{
    border: 2px solid var(--cor1);
    padding: 6px 15px;
    box-sizing: border-box;
    margin: 0px 0px 14px 20px;
}

header > nav > a:hover{
    color: var(--cor4);
}

div#inicio > h1{
    margin: 20px;
    font-size: 3em;
}

div#inicio > p{
    margin: 20px;
    padding-top: 25px;
    font-size: 1.1em;
    line-height: 1.7em;
}

main > article#basic > h3{
    color: var(--cor1);
    font-size: 1.3em;
    margin: 20px;
    padding-left: 10px;
}

main > article#basic > ul > li{
    margin: 5px 20px 5px 63px;
    color: var(--cor7);
}

main > article#basic > p{
    margin: 20px;
    color: var(--cor7);
    line-height: 1.5em;
}

main > article#basic > p > a.basic{
    color: var(--cor4);
}

main > article#business, article#extra{
    background-color: var(--cor6);
    margin: 20px;
    border: 1px solid var(--cor1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

main > article#business > h4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--cor1);
    color: var(--cor6);
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

main > article div > h2{
    color: var(--cor1);
    margin: 10px 10px 0px 15px;
    font-size: 2.2em;
}

main > article div > h3{
    padding: 0px 0px 20px 20px;
    color: grey;
    font-weight: normal;
    font-size: 1.5em;
}

main > article#business > p,
main > article#extra> p{
    margin: 20px 18px;
    font-size: 0.8em;
    font-weight: bolder;
    color: var(--cor7);
}

main > article#business > ul,
main > article#extra > ul{
    list-style-position: inside;
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;
}

main > article#business > ul > li,
main > article#extra > ul > li{
    padding: 0px 12px 15px 8px;
    position: relative;
    color: var(--cor7);
}

main > article#business > ul > li::before,
main > article#extra > ul > li::before{
    content: "\2714";
    position: absolute;
    left: 0;
    top: 0;
    color: var(--cor1);
    font-size: 15px;
    margin-left: -9px;
}

main > article#business > div.botao,
main > article#extra > div.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    height: 50px;
    text-align: center;
    margin: 20px;
}

main > article#business > div.botao > a,
main > article#extra > div.botao > a{
    width: 100%;
    color: var(--cor7);
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

main > article#business > div.botao:hover > a,
main > article#extra > div.botao:hover > a{
    color: var(--cor4);
}

main > article#extra{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

main > article#extra > h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d6dae56e;
    color: var(--cor7);
    height: 80px;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0px 12px;
}

main > article#extra > div > h2{
    color: var(--cor1);
    margin: 10px 10px 0px 15px;
    font-weight: normal;
    font-size: 2.2em;
}

div#depoimento{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

div#depoimento > img{
    width: 90px;
    border: 1px 1px white;
    border-radius: 50%;
    margin: 50px 0px 20px 0px
}

div#depoimento > p{
    font-size: 1.5em;
    margin: 0px 20px 20px 20px;
    text-align: center;
    line-height: 35px;

}

div#depoimento > p#marca{
    color: var(--cor1);
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 50px;
}

div#faq{
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

div#faq > h1{
    padding: 40px 30px 40px 25px;
    font-size: 2.3em;
}

div#faq > article{
    padding: 0px 30px 40px 25px;
}

div#faq > article > h2{
    font-size: 1.2em;
}

div#faq > article > p{
    color: var(--cor7);
    font-size: 1.1em;
    line-height: 25px;
}

footer{
    background-color: var(--cor4);
}

footer > div{
    display: flex;
    flex-flow: column wrap;
    
}

footer > div > img{
    width: 150px;
    margin: auto;
}

footer > div > div.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    height: 50px;
}

footer > div > div.botao:hover{
    box-shadow: -5px 5px 2px rgba(128, 128, 128, 0.416);
    transform: translate(1%, -3%);  
}

footer > div > div.botao > a{
    color: var(--cor4);
    text-align: center;
    font-weight: bold;
    text-decoration: none;

}

footer > div.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 40px;
}

footer > div.nav > nav{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100px;
}

footer > div.nav > nav > h3{
    color: var(--cor6);
}

footer > div.nav > nav > a{
    color: var(--cor2);
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 0px;
}

footer > div.nav > nav > a:hover{
    color: var(--cor6);
}

footer > p{
    color: rgb(128, 128, 128);
    font-size: 0.75em;
    padding: 20px;
    line-height: 18px;
}