@charset "UTF-8";

/* Site: https://pulseapp.com/pricing */

:root{
    --cor1: #00ad6a;
    --cor2: #1fe374;
    --cor3: #eafaf1;
    --cor4: #080c16;
    --cor5: #d6dae5;
    --cor5: #fcfcfc;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor3);
}

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    height: 150px;
    color: var(--cor1);
    
}

header > h1{
    font-size: 2.5em;
    padding-left: 20px;
}

header > nav{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 20px;
}

header > nav > a:hover{
    color: var(--cor4);
}